*{
	margin: 0;
 	box-sizing: border-box;
}
body{
	margin: 0px;
	background-size: cover;
	background-position: center;

}

.row{
	width: 100%;
	height: 400px;
	display: inline-flex;
	position: relative;
	box-sizing: border-box;
}

.row .photos{
	box-sizing: border-box;
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
}

.row .photos img{
	max-width: 100%;
	transition: transform 2s;
}

.row .photos  img:hover{
	transform: scale(1.09);
}

.this:hover{
	font-size: 0;
}

.this:hover:after{
	content: attr(data-hover);
	font-size: 24px;
	line-height: 28px;
}

.listOfItems{
	 background-color: #D9C3B5;
	 text-align: left;
}

.listOfItems ul{
	display: inline-flex;
	list-style: none;
	color: black;
}

.listOfItems ul li{
  list-style-type: none;
  width: 120px;
  margin: 5px;
  padding: 5px;
  
}
.listOfItems ul li a{
	text-decoration: none;
	color: black;
}

.salesclass{
	color: red;
}

.active, .listOfItems ul li:hover{
	background-color: #C7B3A6;
	border-radius: 3px;

}

.listOfItems .fa{
	margin-right: 3px;
}
.sub_menu_1{
	display: none;
}

.listOfItems ul li:hover .sub_menu_1{
	display: block;
	position: absolute;
	background-color: #D9C3B5;
	margin-top: 15px;
	margin-left: -15px;
}
.listOfItems ul li:hover .sub_menu_1 ul{
	display: block;
	margin: 7px 0;
	border-radius: 3px;
}

.listOfItems ul li:hover .sub_menu_1 ul li{
	width: 80px;
	padding: 10px;
	border-bottom: 1px dotted black;
	background: transparent;
	border-radius: 0;
	text-align: left;
}

.listOfItems ul li:hover .sub_menu_1 ul li:last-child{
	border-bottom: none;
}

.listOfItems ul li:hover .sub_menu_1 ul li a:hover{
	color: #D9C3B5;
}

.citates{
	width: 100%;
	height: 200px;
	margin-bottom: 300px;


}

.citates h2{
	font-size: 20px;
	color: black;
	padding-left: 15px;
	padding-top: 11px;

}


.citats-in-row{
	height: 50px;
	background-color: #D9C3B5;
	margin: 10px 18px 18px 18px;
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: 5px 5px #B5A397;
}

.citats-in-row:last-child{
	height: 60px;
}
.wrapperHeader{
	margin: 0px auto;
	width: 950px;
	height: 55px;
	
}

.this{
	text-align: center;
	
  	height: 40px;
  	color: #000;
  	font-weight: 400;
  	font-size: 30px;
  	padding: 12px;
  	white-space: nowrap;
  	letter-spacing: 2px;
}

.regionRight{
	float: right;
  	width: 100px;
  	height: 40px;
  	color: #000;
  	font-weight: 400;
  	font-size: .77em;
  	padding-top: 12px;
  	padding-bottom: 8px;
  	cursor: pointer;
  	box-sizing: border-box;
  	text-align: center;
  	font-family: Verdana, Geneva, sans-serif;
}

.regionRightCenter{
	float: right;
  	width: 100px;
  	height: 40px;
  	color: #000;
  	font-weight: 400;
  	font-size: .77em;
  	padding-top: 16px;
  	padding-bottom: 5px;
  	cursor: pointer;
  	box-sizing: border-box;
  	text-align: center;
  	font-family: Verdana, Geneva, sans-serif;
}


.regionRight:hover{
	background-color: #5983F0;
	border-radius: 3px;
}

.regionRightCenter:hover{
	background-color: #5983F0;
	border-radius: 3px;
}

.imgContainer{
	padding-top: 150px;
	width: 1200px;
	height: 700px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	text-align: center;
}


@-webkit-keyframes slide_animation{
	0% {left:0px;}
	10% {left:8px;}
	20% {left:1200px;}
	30% {left:1280px;}
	40% {left:2400px;}
	50% {left:2400px;}
	60% {left:1200px;}
	70% {left:1200px;}
	80% {left:0px;}
	90% {left:0px;}
	100% {left:0px;}

}

.imgs{
	width: 3600px;
	height: 800px;
	margin: 0 0 0 -2400px;
	position: relative;
	-webkit-animation-name: slide_animation;
	-webkit-animation-duration: 15s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;

}
.slider-image{
	float: left;
	margin: 0px;
	padding: 0px;
}

.img1{
	height: 800px;
	width: 1200px;
	position: relative;
	float: left; 
}


.mainResource h1{
	font-size: 190%;
	font-family: "Arial Black", Gadget, sans-serif;
	text-align: center;
	padding-top: 50px; 


}

.icon{
	padding: 10px;
	float: left;
}

.separate{
	display: inline-block;
	width: 2px;
	height: 16px;
	background-color: #000;
	vertical-align: baseline;
}

.subTitle{
	margin: 50px;
	padding-left: 150px;
}
.mainResource ul{
	font-size: 20px;
	font-weight: 700;
}

.mainResource li{
	display: inline-block;
	line-height: 1.2;
	color: #000;
	padding: 10px 0;
	margin: 0 39px;
	cursor: pointer;
}


.mainResource li:hover{
	color: #E3A9AE;
}

.photos{
	padding-top: 30px;
	box-sizing: border-box;
	width: 450px;
	height: 500px;
	padding-right: 18px;
	box-shadow: #000;
}

.photos:last-child{
	padding-right:3px;
}


.underPh{
	position: absolute;
	top: 1055px;
	color: white;
	box-sizing: border-box;
	height: 50px;
	text-align: center;
	width: 31.8%;
	padding-top: 13px;
	
}

.underPh{
	background-color: rgba(0, 0, 0, 0.6);
}


.underPh:hover{
	background-color: #000;
}

.underPh1{
	position: absolute;
	top: 1455px;
	color: white;
	box-sizing: border-box;
	height: 50px;
	text-align: center;
	width: 31.8%;
	padding-top: 13px;
	
}

.underPh1{
	background-color: rgba(0, 0, 0, 0.6);
}

.underPh1:hover{
	background-color: #000;
}


.photos img{
	width: 100%;
	height: 246px;
	flex: 1;
}

.box{
	margin-top: 0;
	padding-top: 8px;
	text-align: center;
	box-sizing: border-box;
	width: 100%;
	height: 60px;
	border: 3px solid #D9C3B5;
}

.box button{
	
	width: 80px;
	height: 40px;
	background-color: #E3A9AE;
	color: black;
	border: 1px solid  #E3A9AE !important;
	border-radius: 15px;
}

.withinput{
	display: flex;
	flex-direction: row;
	margin: 20px;
	padding-left: 500px;

}

.withinput button{
	color: white;
	height: 50px;
	width: 80px;
	background-color: #222222;
	border: 1px solid #222222 !important;
}



.underImg{
	background-color: #E0CBB9;
	text-align: left;
	height: 60px;
	margin: 5px 18px 35px 18px;

}


.underImg h1{
	padding: 15px;

}
/*
.underImg ul{
	display: block;
	list-style: none;
	color: black;

}

.underImg ul li{
	list-style-type: none;
	width: 120px;
	margin: 5px;
	padding: 5px;
}*/


footer{
	width: 100%;
	padding: 60px 0px;
	background-color: #E8D6CD;
}

.beforefooter{
	padding-top: 10px;
	background-color: #E8D6CD;
	width: 100%;
	height: 250px;
	display: flex;
	flex-direction: column;
}

.text1{
	text-transform: uppercase;
	font-size: 40px;
	font-weight: 700;
	letter-spacing: 5px;
	position: relative;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 30px;
}


